{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <div class="text-center">
          <h3>Your Question</h3>
        </div>
        {% for line in lines %}
          <p>{{ line }}</p>
        {% endfor %}
        <div class="text-center">
          <h4>For grading, you must print your answer by itself on a single line</h4>
        </div>
      </div>
      <div class="col-md-8">
      </div>
    </div>
    <div id="placeholder"> </div>
    <textarea id="code" name="code"></textarea>
    <div class="text-center">
      <input type="hidden" id="duel_session_id" name="duel_session_id" value="{{ duel_session_id }}" />
      <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}" />
      <input type="hidden" id="question_id" name="question_id" value="{{ question_id }}" />
      <input value="Submit" class="btn btn-success thin-top-margin" onclick="submitCode()" readonly />
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      codeMirror = CodeMirror.fromTextArea(document.getElementById('code'),
        {
          lineNumbers: true
        });
      setupSocketIO();
    });
  </script>
{% endblock %}